.container {
    & .f-claves {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;

        .gray {
            color: gray;
            margin: 0;
        }

        .f-h1 {
            margin-top: -0.6rem;
        }

    }
    & .accordion-item {
        & .accordion-collapse {
            & .accordion-body {
                font-family: var(--font-family-description);
            }
        }
    }
}
