@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Istok+Web:wght@700&family=Solway:wght@300&display=swap');

:root {
    overflow-x: hidden;
    --color-text: #53C222;
    --color-text-2: #FDFDFC;
    --font-family-description: 'Titillium Web', sans-serif;
}

* {
    font-family: 'Fredoka One', cursive;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .logo {
        display: flex;

        & img {
            width: 25rem;
        }
    }

    & .buttons {
        width: auto;

        & a {
            font-size: 1.3rem;
            border: 0;
            background-color: #FFFFFF;
            border-bottom: var(--color-text) 1px solid;
            margin: 5px;
            text-decoration: none;
            color: black;
            font-family: var(--font-family-description);
        }
    }

    & .solicitud {
        & .p-solicitud {
            margin-top: 0.2rem;
            padding: 0.5rem;
            border: solid 2px var(--color-text);
            border-radius: 1rem;
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
        }

        & .modal {
            border: none;
            background-color: #fdfdfd18;
            padding: 0;
            margin: 0;

            .modal-dialog {
                margin: 0rem;
                margin-top: 4rem;
                padding: 1rem;

                .modal-content {
                    width: 90vw;
                    margin: 0;
                    background-color: transparent;
                    border: none;

                    .row {
                        align-items: center;
                        justify-content: center;

                        .col-12 {
                            align-items: center;
                        justify-content: center;
                            .card {
                                margin: 2rem;
                                color:white;
                                .card-header{
                                    font-family:var(--font-family-description);
                                    background-color: #09462D;
                                }
                                .card-body{
                                    padding: 16;
                                    background-color: #2F9943;
                                    .card-text{
                                        font-family:var(--font-family-description);
                                        margin: 0;
                                    }
                                }
                            }
                        }

                    }


                }
            }
        }
    }
}

.d-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    .close{
        width: 10rem;
    }
}