@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Istok+Web:wght@700&family=Solway:wght@300&display=swap');

:root{
    overflow-x: hidden;
    --color-text: #53C222;
    --color-text-2: #FDFDFC;
    --font-family-description: 'Titillium Web', sans-serif;
}
*{
    font-family: 'Fredoka One', cursive;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    & .logo{
        display: flex;
        & img{
            width: 25rem;
        }
    }
    & .buttons{
        width:auto;
        & a{
            font-size: 1.3rem;
            border: 0;
            background-color: #FFFFFF;
            border-bottom: var(--color-text) 1px solid;
            margin: 5px;
            text-decoration: none;
            color: black;
            font-family: var(--font-family-description);
        }
    }
    & .solicitud{
        & .p-solicitud{
            margin-top: 0.2rem;
            padding: 0.5rem;
            border: solid 2px var(--color-text);
            border-radius: 1rem;
            text-decoration: none;
            color:black
        }
    }
}