.container {
    .r-claves {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;

        .gray {
            color: gray;
            margin: 0;
            font-size: 1.5rem;
        }

        .r-h1 {
            margin-top: -0.6rem;
            font-size: 3rem;
        }
    }

    .info {
        .info-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                font-family: var(--font-family-description);
            }

            ;
        }
    }

    .r-title {
        & h1{
            color: var(--color-text);
        }
    }

    .d-radar {
        display: flex;
        align-items: center;
        justify-content: center;

        .radar,
        .sweep {
            position: absolute;
        }

        .radar {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 798px;
            height: 798px;
            border-radius: 50%;

        }

        & .r-img {
            .radar-img {
                width: 768px;
                height: 768px;
            }
        }

        & .p-radar {
            position: relative;

            & .radar-item {
                font-size: 0.75rem;
                width: 6rem;
                position: absolute;
                border: none;
                border-radius: 1rem;
                background-color: rgb(255, 255, 255);
                font-family: var(--font-family-description);
            }

            & #economiaCircular {
                left: -712px;
            }

            & #antiCorrupcion {
                left: -320px;
                top: 40px;
            }

            & #generacionEmpleo {
                left: -390px;
                top: -170px;
            }

            & #adaptacionCClimatico {
                left: -560px;
                top: -40px;
            }

            & #gAgua {
                left: -620px;
                top: -85px;
            }

            & #PC {
                left: -510px;
                top: -140px;
                z-index: 1;
                width: 9rem;
            }

            & #pCC {
                left: -610px;
                top: -165px;
            }

            & #CEB {
                left: -706px;
                top: -155px;
            }

            & #IS {
                left: -506px;
                top: -198px;
            }

            & #GSC {
                left: -386px;
                top: -128px;
            }

            & #PEPL {
                left: -476px;
                top: -118px;
            }

            & #DT {
                left: -446px;
                top: -118px;
            }

            & #CR {
                left: -320px;
                top: -10px;
            }

            & #TJC {
                left: -320px;
                top: -50px;
            }

            & #RC {
                left: -320px;
                top: -90px;
            }

            & #OG {
                left: -240px;
                top: -90px;
            }

            .modal-content {
                border-radius: 0;
            }
        }
    }

    .r-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .panel {
            border-radius: 2rem;
            padding: 0rem;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 1rem;

            & .form-switch {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;

                & .form-check-input {
                    margin: 0.5rem;
                    border-radius: 0;
                    min-width: 2rem;

                }

                & .form-check-label {
                    font-size: 1rem;
                    margin-bottom: 0.25rem;
                    font-family: var(--font-family-description);
                    text-align: start;
                }
            }
        }
    }
}



.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 383px;
    height: 381px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, rgb(5, 243, 96));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.Quitar {
    display: none;
}

@media (max-width: 1400px) {
    .r-container {
        width: 100%;
    }

    .container .d-radar .radar,
    .container .d-radar .sweep {}

    .container .r-panel .panel {}
}

@media (max-width: 768px) {
    .r-container {
        display: none;
    }

}