.container .r-claves {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.container .r-claves .gray {
  color: gray;
  margin: 0;
  font-size: 1.5rem;
}
.container .r-claves .r-h1 {
  margin-top: -0.6rem;
  font-size: 3rem;
}
.container .d-radar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .d-radar .radar,
.container .d-radar .sweep {
  position: absolute;
}
.container .d-radar .radar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 998px;
  height: 998px;
  border-radius: 50%;
}
.container .d-radar .r-img .radar-img {
  width: 998px;
  height: 998px;
}
.container .d-radar .p-radar {
  position: relative;
}
.container .d-radar .p-radar .radar-item {
  font-size: 0.75rem;
  width: 8rem;
  position: absolute;
  border: none;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}
.container .d-radar .p-radar #economiaCircular {
  left: -832px;
}
.container .d-radar .p-radar #antiCorrupcion {
  left: -350px;
  top: 120px;
}
.container .d-radar .p-radar #generacionEmpleo {
  left: -540px;
  top: -180px;
}
.container .d-radar .p-radar #adaptacionCClimatico {
  left: -710px;
  top: -40px;
}
.container .d-radar .p-radar #trabajoRemoto {
  left: -610px;
  top: -115px;
}
.container .d-radar .p-radar #diversidad {
  left: -652px;
  top: -180px;
}
.container .d-radar .p-radar #energiaAlternativa {
  left: -810px;
  top: -175px;
}
.container .d-radar .p-radar #descarbonizacion {
  left: -906px;
  top: -125px;
}
.container .d-radar .p-radar .modal-content {
  border-radius: 0;
}
.container .r-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .r-panel .panel {
  background-color: rgba(36, 114, 114, 0.336);
  border-radius: 2rem;
  padding: 1rem;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .r-panel .panel .form-switch {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .r-panel .panel .form-switch .form-check-input {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.container .r-panel .panel .form-switch .form-check-label {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145deg, 50%, 40%, 0.3);
  width: 484px;
  height: 480px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, rgb(5, 243, 96));
  animation: sweep 5s infinite linear;
}

@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
.Quitar {
  display: none;
}

@media (max-width: 1400px) {
  .r-container {
    width: 100%;
  }
  .container .r-panel .panel {
    margin-top: -20rem;
    z-index: 10;
  }
}
@media (max-width: 998px) {
  .r-container {
    display: none;
  }
}

/*# sourceMappingURL=radar.css.map */
