.container .r-claves {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.container .r-claves .gray {
  color: gray;
  margin: 0;
  font-size: 1.5rem;
}
.container .r-claves .r-h1 {
  margin-top: -0.6rem;
  font-size: 3rem;
}
.container .info .info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .info .info-div p {
  font-family: var(--font-family-description);
}
.container .r-title h1 {
  color: var(--color-text);
}
.container .d-radar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .d-radar .radar,
.container .d-radar .sweep {
  position: absolute;
}
.container .d-radar .radar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 798px;
  height: 798px;
  border-radius: 50%;
}
.container .d-radar .r-img .radar-img {
  width: 768px;
  height: 768px;
}
.container .d-radar .p-radar {
  position: relative;
}
.container .d-radar .p-radar .radar-item {
  font-size: 0.75rem;
  width: 6rem;
  position: absolute;
  border: none;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  font-family: var(--font-family-description);
}
.container .d-radar .p-radar #economiaCircular {
  left: -712px;
}
.container .d-radar .p-radar #antiCorrupcion {
  left: -320px;
  top: 40px;
}
.container .d-radar .p-radar #generacionEmpleo {
  left: -390px;
  top: -170px;
}
.container .d-radar .p-radar #adaptacionCClimatico {
  left: -560px;
  top: -40px;
}
.container .d-radar .p-radar #gAgua {
  left: -620px;
  top: -85px;
}
.container .d-radar .p-radar #PC {
  left: -510px;
  top: -140px;
  z-index: 1;
  width: 9rem;
}
.container .d-radar .p-radar #pCC {
  left: -610px;
  top: -165px;
}
.container .d-radar .p-radar #CEB {
  left: -706px;
  top: -155px;
}
.container .d-radar .p-radar #IS {
  left: -506px;
  top: -198px;
}
.container .d-radar .p-radar #GSC {
  left: -386px;
  top: -128px;
}
.container .d-radar .p-radar #PEPL {
  left: -476px;
  top: -118px;
}
.container .d-radar .p-radar #DT {
  left: -446px;
  top: -118px;
}
.container .d-radar .p-radar #CR {
  left: -320px;
  top: -10px;
}
.container .d-radar .p-radar #TJC {
  left: -320px;
  top: -50px;
}
.container .d-radar .p-radar #RC {
  left: -320px;
  top: -90px;
}
.container .d-radar .p-radar #OG {
  left: -240px;
  top: -90px;
}
.container .d-radar .p-radar .modal-content {
  border-radius: 0;
}
.container .r-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .r-panel .panel {
  border-radius: 2rem;
  padding: 0rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
.container .r-panel .panel #ambientales {
  background-color: #C5E0B4;
  padding: 1rem;
  border-radius: 1.5rem;
}
.container .r-panel .panel #sociales {
  background-color: #FFD966;
  padding: 1rem;
  border-radius: 1.5rem;
}
.container .r-panel .panel #gobernanza {
  background-color: #C55A11;
  padding: 1rem;
  border-radius: 1.5rem;
}
.container .r-panel .panel .form-switch {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.container .r-panel .panel .form-switch .form-check-input {
  margin: 0.5rem;
  border-radius: 0;
  min-width: 2rem;
}
.container .r-panel .panel .form-switch .form-check-label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-family: var(--font-family-description);
  text-align: start;
}

.modal .modal-dialog .modal-content .modal-header {
  font-family: var(--font-family-description);
  border-bottom: 2px solid var(--color-text);
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: var(--font-family-description);
}
.modal .modal-dialog .modal-content .modal-header .modal-icon {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}
.modal .modal-dialog .modal-content .modal-body {
  font-family: var(--font-family-description);
}
.modal .modal-dialog .modal-content .modal-body .modal-body-title {
  color: var(--color-text);
}
.modal .modal-dialog .modal-content .modal-body p {
  font-family: var(--font-family-description);
}
.modal .modal-dialog .modal-content .modal-footer {
  font-family: var(--font-family-description);
}

.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145deg, 50%, 40%, 0.3);
  width: 383px;
  height: 381px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, rgb(5, 243, 96));
  animation: sweep 5s infinite linear;
}

@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
.Quitar {
  display: none;
}

@media (max-width: 1400px) {
  .r-container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #radar > div.visible > div > div:nth-child(1) {
    display: flex;
    flex-direction: row;
  }
  #p-gobernanza {
    margin-top: -10rem;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  #radar > div.visible > div > div.col-12.col-xl-8.d-radar .radar {
    display: none;
  }
  #radar > div.visible > div > div.col-12.col-xl-8.d-radar .r-img {
    display: none;
  }
  #radar > div.visible > div > div:nth-child(1) {
    display: block;
  }
  #p-gobernanza {
    margin-top: 1rem;
    z-index: 10;
  }
}

/*# sourceMappingURL=radar.css.map */
